body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #92c7ed;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 350px;
  height: 400px;
  background-color: #518aeb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(191, 0, 255);
}

h1 {
  color: rgb(149, 0, 255);
  text-align: center;
}

.animacao-titulo {
  animation: fadeInDown 3s;
}

@keyframes fadeInDown {
  from {
      opacity: 10000;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #b66ef9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0073ff80;
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
.acerto {
  animation: acerto 1s forwards;
}

@keyframes acerto {
  0% {
    color: #045223;
  }
  100% {
    color: #157c2a;
    text-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0, 0 0 20px #0f0;
  }
}

.corpo {
  animation: corpo 3s forwards;
}

@keyframes corpo {
  0% {
    color: #ccc;
  }
  100% {
    color: #fefafa;
    text-shadow: 0 0 5px #f00, 0 0 10px #f00;
  }
}
h2 {
  text-align: center;
  border-radius: 10px;
  color: rgb(25, 0, 255);
  padding: 5px 2px;
}

.fim {
  animation: fim 3s forwards;
}

@keyframes fim {
  0% {
    color: #f50e0e;
  }
  100% {
    color: #e41212;
    
  }
}
p{
  text-align: center;
}